        <div class="container">
            <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                <h4 class="my-0 font-weight-normal"><a href="{% url 'detail' post.id %}"> {{post.title}}</a> </h4>
                </div>
                <div class="card-body">
                <p>  {{post.body}}  </p>
                <hr>
                <p>Author: {{ post.author }}</p>
                <a href="{% url 'delete' post.id %}" class="btn btn-danger btn-small" >Delete Post</a>
                </div>
            </div>
        </div>